/* Etiquetas de HMTL */
/* CSS Home */
* {
  margin: 0;
  padding: 0;
}

/* Parte 1: Header */
.content-header {
  width: 100%;
  height: 800px;
  background-image: url(../images/cover_image.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*
 * Bootstrap Header fix
 */
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1920px;
  }
}
.navbar-collapse {
  flex-grow: 0;
}

.navbar-toggler {
  color: white;
}

.logo {
  float: left;
  margin-left: 3rem;
}

.logo img {
  padding: 35px 0 0 20px;
}

.menu-header {
  text-align: right;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 2rem;
}

.menu ul li a:hover {
  color: orange;
}

.header .content-header {
  padding: 0rem 0 1rem 0;
}

.black-title {
  color: black;
}

.container-title {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: left;
  text-transform: initial;
  font-size: 2.5rem;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin-left: 3rem;
  word-spacing: 2px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: normal;
  padding: 0 0 0 15px;
}

.slogan {
  text-align: left;
  text-transform: initial;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin: 0 0 1rem 3rem;
  word-spacing: 2px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: normal;
  padding: 0 0 0 15px;
}

/* Fin parte 1: Header */
/* Parte 2: About Us */
h2 {
  font-size: 2rem;
  text-align: center;
  margin: 1.5rem;
  word-spacing: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: normal;
  display: block;
}

.section-container {
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #fbf7f7;
}

.container-houses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.house-box {
  padding: 20px 12px 0px 12px;
  background-color: #fbf7f7;
}

.container-houses section {
  float: left;
}

.house-width {
  width: 33.3%;
}

h4 {
  text-align: center;
  text-transform: initial;
  font-size: 1.3rem;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: normal;
  padding-top: 4%;
  margin-top: 10px;
}

h5 {
  text-align: center;
  text-transform: initial;
  font-size: 1.3rem;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: normal;
  padding-top: 4%;
  margin-top: 10px;
}

h6 {
  text-align: center;
  text-transform: initial;
  font-size: 1.3rem;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: normal;
  padding-top: 4%;
  margin-top: 10px;
}

p {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

/* Fin parte 2: About Us */
/* Parte 3: section living image */
.container-living {
  background-image: url(../images/salon.jpg);
  min-height: 550px;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: flex-start;
}

.phrase-1 {
  text-shadow: 1px 2px #4a400c;
  text-align: left;
  font-size: 30px;
  font-weight: bolder;
  font-style: italic;
  margin-left: 2rem;
  padding: 5px 10px 12px 15px;
  color: rgba(245, 206, 122, 0.856);
  padding-top: 50px;
}

.phrase-2 {
  text-align: left;
  font-weight: bold;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2rem;
  padding: 0px 10px 24px 15px;
  text-shadow: 2px 2px #4a400c;
  color: white;
}

.container-btn1 {
  padding-left: 25px;
}

/* Fin parte 3: section living image */
/* Parte 4: Our Blog */
/*.content-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .content-multimedia > .multimedia-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    justify-items: center;
 }

 .comments-title {
    color: #75501d;
    text-shadow: 2px 2px 4px lightgrey;
 }

 .card-comments {
    padding-top: 15px;
    height: 60vh;
    width: 65vh;
    position: relative;
    transform-style: preserve-3d; 
    transition: 2s;
 }

 .name1 {
    color: white;
    font-size: 1.4rem;
    font-style: italic;
    display: flex;
    justify-content: center;
 }

 .name2 {
    color: white;
    font-size: 1.4rem;
    font-style: italic;
    display: flex;
    justify-content: center;
 }

 .card-comments:hover {
    transform:rotateY(180deg);
 }

 .side {
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
 }

 .front {
    background-color: rgb(180, 147, 84);
    border-radius: 2rem;
 }

 .back {
    background-color: rgb(206, 154, 58);
    border-radius: 2rem;
    transform:rotateY(180deg);
 }*/
/* Fin parte 4: Our Blog */
/* Footer */
.footer-section {
  padding: 0.5rem 0 0 0;
}

.content-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.menu-footer {
  word-spacing: 1px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.menu-1 {
  margin-top: 0;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
}

.copyright {
  font-style: italic;
  color: white;
  text-align: right;
  font-size: 1rem;
  word-spacing: 3px;
  margin-inline-end: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.name {
  font-size: 1.3rem;
  font-family: cursive;
}

/* Fin Footer */
@media screen and (min-width: 1024px) {
  .menu-1 {
    margin-top: 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
  }

  .content-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  .text-center {
    font-size: 1rem;
  }

  .moreAbout-title {
    font-size: 1.5rem;
  }

  .section-container {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #fbf7f7;
  }

  .container-houses {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .house-box {
    padding: 20px 12px 0px 12px;
    background-color: #fbf7f7;
  }

  .container-houses section {
    float: left;
  }

  .house-width {
    width: 90%;
  }

  h4 {
    text-align: center;
    text-transform: initial;
    font-size: 1.3rem;
    color: black;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: normal;
    padding-top: 4%;
    margin-top: 10px;
  }

  h5 {
    text-align: center;
    text-transform: initial;
    font-size: 1.3rem;
    color: black;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: normal;
    padding-top: 4%;
    margin-top: 10px;
  }

  h6 {
    text-align: center;
    text-transform: initial;
    font-size: 1.3rem;
    color: black;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: normal;
    padding-top: 4%;
    margin-top: 10px;
  }

  p {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 2rem;
    text-align: center;
  }

  .text1, .text2 {
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3px;
  }
}
@media screen and (min-width: 768px) and (max-width: 900px) {
  .content-multimedia {
    padding: 2rem;
    height: auto;
  }

  .content-multimedia > .multimedia-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    width: 100%;
  }
}
/* CSS About Us */
.container-us {
  padding: 30px;
}

img {
  width: 100%;
}

.paragraph-presentation {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

/* Css Houses */
.card {
  padding: 20px 20px 15px 20px;
  border: none;
}

.content-houses2 {
  padding-bottom: 20px;
}

.container-btn4 {
  display: flex;
  justify-content: center;
}

/* CSS Our Blog */
.image-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-blog img {
  width: 50%;
}

.text1-blog {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 2rem;
  text-align: center;
}

/* CSS Contact */
.contact-us {
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 30px;
}

.contact-form {
  margin-top: 50px;
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: normal;
  word-spacing: 5px;
}

.image-contact {
  background-image: url("../images/office.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}

.fill-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

fieldset {
  padding: 15px;
  margin: 20px 20px 50px 20px;
  width: 50%;
  align-self: center;
}

legend {
  font-size: 2rem;
  color: gray;
}

label {
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

input:not([type=submit]),
textarea {
  padding: 1rem;
  display: block;
  width: 94%;
  background-color: white;
  border: 1px solid gray;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

textarea {
  height: 20rem;
}

/* background-position: right;
    color: white;
    background-color: rgb(210 162 75);
    font-weight: 700;
    font-style: normal; 
*/
/* Agrupar propiedades */
/* Variables */
/* Placeholder */
.btn4, .btn3, .btn2, .btn1 {
  background-color: #a8a3a3;
  font-size: 22px;
  border: none;
  color: white;
  transition-duration: 0.4s;
  border-radius: 0.5rem;
}

.btn1 {
  padding: 16px 15px;
  margin: 20px;
  /* & */
}
.btn1:hover {
  color: white;
  background-color: #d2a24b;
  font-weight: 700;
}

.btn2 {
  padding: 15px 30px;
  margin: 30px;
  /* & */
}
.btn2:hover {
  background-position: right;
  color: white;
  background-color: #d2a24b;
  font-weight: 700;
  font-style: normal;
}

.btn3 {
  padding: 16px 32px;
  margin: 0px 0px 10px 0px;
  color: black;
  /* & */
}
.btn3:hover {
  background-position: right;
  color: white;
  background-color: #d2a24b;
  font-weight: 700;
  font-style: normal;
}

.btn4 {
  padding: 5px 0;
  margin-bottom: 50px;
  width: 41%;
  /* & */
}
.btn4:hover {
  background-position: right;
  color: white;
  background-color: #cf9c3d;
  font-weight: 700;
  font-style: normal;
}

.text1, .text2 {
  color: white;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 28px;
}

/* Variables */
.menu ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.3rem;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

/* UI */
.container-sections {
  background-color: #383838;
}

.footer-section {
  background-color: #504f4f;
}

/*.content-multimedia {
    display: flex;
    flex-direction: column;
    padding: 3rem 0rem 5rem 0rem;
  }*/
/*.content-multimedia > .multimedia-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  padding-left: 30px;
}*/
/*.content-multimedia > .multimedia-content > .multimedia-card > figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}*/
/*.content-multimedia > .multimedia-content > .multimedia-card > figure > img {
  width: 100%;
}*/
/*.content-multimedia > .multimedia-content > .multimedia-card > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
}*/
/*.content-multimedia > .multimedia-content > .multimedia-card > figure > figcaption > h3 {
  color: white;
  padding: .75rem;
  font-size: 1.25rem;
}*/
/*.content-multimedia > .multimedia-content > .multimedia-card > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
}*/
/*.content-multimedia > .multimedia-content > .multimedia-card > a {
  padding: .5rem 1rem;
  margin: .5rem;
}*/

/*# sourceMappingURL=style.css.map */
