/* CSS About Us */
.container-us {
    padding: 30px;
}

img {
    width: 100%;
}

.paragraph-presentation {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.row {
    --bs-gutter-x: 0rem;
}

