/* Css Houses */ 
.title-rent {
    padding-top: 30px;
    padding-bottom: 20px;
}
.card {
    padding: 20px 20px 15px 20px;
    border: none;
}

.content-houses2 {
    padding-bottom: 20px;
}

.container-btn4 {
    display: flex;
    justify-content: center;
}


