/* CSS Our Blog */

.image-blog {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
}

.image-blog img {
    width: 60%;
    padding: 30px;
    margin: 0 0 0 30px;
}

.text1-blog {
    
    

}